@import-normalize; /* bring in normalize.css styles */
@import "helper";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
}

.icon {
  width: 1em;
  height: 1em;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.onLine{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
